<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.votez.mapper.CandidatesMapper">
  <resultMap id="BaseResultMap" type="com.votez.entity.Candidates">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Candidatename" jdbcType="VARCHAR" property="candidatename" />
    <result column="LastName" jdbcType="VARCHAR" property="lastname" />
    <result column="PartyAffiliation" jdbcType="VARCHAR" property="partyaffiliation" />
    <result column="Candidateimages" jdbcType="VARCHAR" property="candidateimages" />
    <result column="Campaign" jdbcType="VARCHAR" property="campaign" />
    <result column="Describtion" jdbcType="VARCHAR" property="describtion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, Candidatename, LastName, PartyAffiliation, Candidateimages, Campaign, Describtion
  </sql>
  <select id="selectByExample" parameterType="com.votez.entity.CandidatesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from candidates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from candidates
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from candidates
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.votez.entity.CandidatesExample">
    delete from candidates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.votez.entity.Candidates">
    insert into candidates (id, Candidatename, LastName, 
      PartyAffiliation, Candidateimages, Campaign, 
      Describtion)
    values (#{id,jdbcType=INTEGER}, #{candidatename,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{partyaffiliation,jdbcType=VARCHAR}, #{candidateimages,jdbcType=VARCHAR}, #{campaign,jdbcType=VARCHAR}, 
      #{describtion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.votez.entity.Candidates">
    insert into candidates
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="candidatename != null">
        Candidatename,
      </if>
      <if test="lastname != null">
        LastName,
      </if>
      <if test="partyaffiliation != null">
        PartyAffiliation,
      </if>
      <if test="candidateimages != null">
        Candidateimages,
      </if>
      <if test="campaign != null">
        Campaign,
      </if>
      <if test="describtion != null">
        Describtion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="candidatename != null">
        #{candidatename,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="partyaffiliation != null">
        #{partyaffiliation,jdbcType=VARCHAR},
      </if>
      <if test="candidateimages != null">
        #{candidateimages,jdbcType=VARCHAR},
      </if>
      <if test="campaign != null">
        #{campaign,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        #{describtion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.votez.entity.CandidatesExample" resultType="java.lang.Long">
    select count(*) from candidates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update candidates
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.candidatename != null">
        Candidatename = #{record.candidatename,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null">
        LastName = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.partyaffiliation != null">
        PartyAffiliation = #{record.partyaffiliation,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateimages != null">
        Candidateimages = #{record.candidateimages,jdbcType=VARCHAR},
      </if>
      <if test="record.campaign != null">
        Campaign = #{record.campaign,jdbcType=VARCHAR},
      </if>
      <if test="record.describtion != null">
        Describtion = #{record.describtion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update candidates
    set id = #{record.id,jdbcType=INTEGER},
      Candidatename = #{record.candidatename,jdbcType=VARCHAR},
      LastName = #{record.lastname,jdbcType=VARCHAR},
      PartyAffiliation = #{record.partyaffiliation,jdbcType=VARCHAR},
      Candidateimages = #{record.candidateimages,jdbcType=VARCHAR},
      Campaign = #{record.campaign,jdbcType=VARCHAR},
      Describtion = #{record.describtion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.votez.entity.Candidates">
    update candidates
    <set>
      <if test="candidatename != null">
        Candidatename = #{candidatename,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        LastName = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="partyaffiliation != null">
        PartyAffiliation = #{partyaffiliation,jdbcType=VARCHAR},
      </if>
      <if test="candidateimages != null">
        Candidateimages = #{candidateimages,jdbcType=VARCHAR},
      </if>
      <if test="campaign != null">
        Campaign = #{campaign,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        Describtion = #{describtion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.votez.entity.Candidates">
    update candidates
    set Candidatename = #{candidatename,jdbcType=VARCHAR},
      LastName = #{lastname,jdbcType=VARCHAR},
      PartyAffiliation = #{partyaffiliation,jdbcType=VARCHAR},
      Candidateimages = #{candidateimages,jdbcType=VARCHAR},
      Campaign = #{campaign,jdbcType=VARCHAR},
      Describtion = #{describtion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>